rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Quy tắc cho danh sách yêu thích (favorites)
    match /favorites/{favoriteId} {
      allow read, write: if request.auth != null && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }

    // Quy tắc cho danh sách phát (playlists)
    match /playlists/{playlistId} {
      allow read, write: if request.auth != null && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }
  }
}
